<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<?=$meta;?>">
	<?=Phalcon\Tag::getTitle();?>
	<?php $this->assets->outputCss() ?>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<?php if ($production): ?>
		<!-- Put some analytics or tracking code here -->
		<script>
		</script>
	<?php endif ?>
	
	<?php $this->flash->output() ?>
	
	<div>
		<?php echo $this->getContent()?>
	</div>

	<?php $this->assets->outputJs() ?>
</body>
</html>
