<div class="container">
    <?php if($message) { ?>
        <div class="alert alert-success">
            <b><?php echo $message; ?></b>
        </div>
    <?php } elseif($error) { ?>
        <div class="alert alert-danger">
            <b><?php echo $error; ?></b>
        </div>
    <?php } ?>
</div
